@import '../../assets/scss/main.scss';

.reset {
	display: flex;
	flex-direction: column;
	row-gap: 44px;
	align-items: center;
	margin: 84px 0;

	&Form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 454px;

		&__title {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 24px;
			color: var(--osnovnoy-tekst);
			margin-bottom: 32px;
		}

		&__inputs {
			display: flex;
			flex-direction: column;
			row-gap: 24px;
			width: 100%;
			margin-bottom: 16px;

			&Item {
				border-radius: 57px;
				padding: 0 30px;
				width: 100%;
				height: 55px;
				border: 1px solid #f9585e;

				font-family: var(--font-family);
				font-weight: 400;
				font-size: 16px;
				color: var(--osnovnoy-tekst);

				&::placeholder {
					color: var(--tekst1);
				}
			}
		}

		&__error {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 16px;
			color: var(--oshibka);
			margin-bottom: 10px;
		}

		&__submit {
			border-radius: 57px;
			width: 272px;
			height: 43px;
			background: linear-gradient(125deg, #a915c8 0%, #f9585e 100%);

			font-family: var(--font-family);
			font-weight: 400;
			font-size: 16px;
			color: var(--1);
		}
	}
}
